@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap");

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background-color: #272a31;
  font-family: cocogoose, serif;
  /* width: 100%; */
}

.grey {
  color: #d3d3d3;
}

.bg-grey {
  background-color: #d3d3d3;
}

.orange {
  color: #ec5242;
}

.bg-orange {
  background-color: #ec5242;
}

.header {
  font-family: Lato, sans-serif;
  font-size: xx-large;
  font-weight: 900;
}

.main {
  background: url("../images/3d-background.jpg");
  width: 100%;
}

.aside {
  font-size: small;
  color: #fff;
}

.aside img {
  width: 1em;
}

button {
  border: none;
}

#facebook {
  width: 0.6em;
}

nav {
  min-width: 100%;
}

.active {
  color: #ec5242 !important;
}

nav a {
  color: #3f4758 !important;
}

.nwk {
  border: solid thick red !important;
  font-size: small;
}

.main-article {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
}

.main-article p {
  margin-bottom: 0;
}

.main-article h1 {
  width: 75%;
  /* margin-left: 0; */
}

/* * {
  outline: solid red;
} */

.main-article .small-container {
  width: 70%;
  outline: 1px solid #fff;
}

.main-event {
  background: url("../images/main-bg.PNG");
  width: 100%;
}

.sub-article h3 {
  font-size: medium;
  font-family: Lato, sans-serif;
}

.sub-article .red-line {
  width: 1.5em;
  height: 2px;
  background-color: #ec5242;
}

.main-event .event-row {
  background-color: rgba(255, 255, 255, 0.1);
}

.flexbx {
  display: flex;
  align-items: center;
}

.flexbx * {
  margin-left: 1.5em;
}

.btn-container {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  .main {
    background: url("../images/3d-background-big.jpg") no-repeat;
    background-size: cover;
  }

  .main-article h1 {
    width: 80%;
    /* margin-left: 1em; */
  }

  .main-article .small-container {
    width: 80%;
  }

  .event-row {
    width: 12em;
    height: 12em;
    margin-left: 4em;
  }

  .main-event .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 12em));
  }

  .flexbx {
    flex-direction: column;
    justify-content: start;
    text-align: center;
  }

  .flexbx * {
    margin-left: 0;
  }
}

@media only screen and (min-width: 992px) {
  .nav-list {
    font-size: 1.2em;
  }

  .nwk {
    font-size: 1em;
    width: 13%;
    /* padding-left: 1em; */
  }

  #collapsibleNavId * {
    margin-right: 1em;
  }
}
